<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>TITLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <button onclick="onPauseClicked()" style="height:300px;width:300px">pause</button>
    <script>
      function onPauseClicked(){
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET",window.location.href + "pause", false);
          xmlHttp.send(null);
      }
    </script>
  </body>
</html>
